h1 {
    font-size: 18px;
    font-family: 'PT Sans';
    text-align: center;
    margin-top: 10px;
}
.nav {
    font-size: 48px;
    font-family: 'PT Sans';
    display: inline;
    margin: 20px;
    vertical-align: top;
}
ul {
    text-align: center;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
.firstdiv {
    background-color: #56836F;
    margin: 30px;
    padding-top: 36px;
    border: 4px solid #006837;
}
.articlesection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3,1fr) ;
    padding-top: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;   
}
.large {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 3;
    grid-row-end: 5;
    
}
.imageOne {
    float: right;
}
.imageTwo {
    float: left;
}
article {
    background-color: #FCEE21;
    padding: 10px;
    margin: 20px;
    font-size: 14px;
    text-transform: uppercase;
}
p {
    padding: 10px 18px;
    font-family: 'HelveticaNeueLTW06-97BlkCnObl';
}
.icon {
    display: inline-block;
    width: 200px;
    height: 150px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  #icon-attachment path {
      color: #FCEE21;
  }
.logo {
    display: inline-block; 
    width: 0;
    height: 0;
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);